{% extends 'core_app/base.html' %}

{% block content %}
	<div class="text-center py-3">
		<h2 class="display-4 text-warning mb-4">
			Функциональность в разработке!
		</h2>
		<p class="lead text-muted mb-5">
			Извините, но эта функция пока не доступна. Она активно разрабатывается, и мы скоро её запустим!
		</p>
		<p class="mb-4">
			Чтобы быть в курсе всех новинок, обязательно подпишитесь на наш Telegram-канал.
		</p>
		<a href="https://t.me/ai_tools_channel" class="btn btn-info btn-lg" target="_blank">
			Подписаться на канал
		</a>
		<p class="mt-4 text-muted">
			Спасибо, что остаетесь с нами!
		</p>
	</div>
{% endblock %}
