{% extends 'core/base.html' %}

{% block title %}
	AI-Tools
{% endblock %}

{% block content %}
	<!-- Начало сайта (не хидер, header уже есть, это просто как начало сайта, сделай его красивым) -->
	<div>
		<h1>
			Добро пожаловать в <span class="text-danger">AI-Tools</span>
		</h1>
		<p>
			Мы помогаем вашему бизнесу автоматизировать процессы, экономить деньги и достигать новых высот! С помощью нашего сервиса вы можете забыть о дорогостоящей поддержке, минимизировать затраты и вывести качество обслуживания на совершенно новый уровень.
		</p>
	</div>

	<div>
		<h2 class="text-center">
			Почему AI-Tools — это ваш лучший выбор?
		</h2>
	</div>
{% endblock %}
