{% extends 'core/base.html' %}

{% block title %}
	Служба поддержки - AI-Tools
{% endblock %}

{% block content %}
	<!-- Заголовок. -->
	<div class="text-center mb-5">
		<h1 class="display-4 fw-bold text-primary">Служба поддержки</h1>
		<p class="lead text-secondary">
			Здесь вы можете написать свои претензии, предложения по улучшению сервиса либо же просто позадавать вопросы. Но прежде чем написать, пожалуйста, зарегестрируйтесь либо же войдите в уже существующую запись.
		</p>
	</div>
{% endblock %}
