/* Изменения фона и стилей */
body {
    background-color: #f4f7fa;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: rgba(54, 69, 79, 0.9); /* Темно-синий с прозрачностью */
}

header h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.nav-item .nav-link {
    color: #ffffff !important;
    font-size: 1.1rem;
}

.nav-item .nav-link:hover {
    color: #F39C12 !important; /* Теплый желтый акцент при наведении */
}

footer {
    background-color: rgba(54, 69, 79, 0.9); /* Прозрачный темно-синий футер */
    color: #ffffff;
}

.footer-text {
    font-size: 0.9rem;
}

/* Плавное раскрытие меню */
.navbar-collapse {
    transition: max-height 0.5s ease;
    overflow: hidden;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1.8rem;
    }

    .nav-item .nav-link {
        font-size: 1rem;
    }
}

/* Анимация для кнопки hamburger */
.navbar-toggler-icon {
    background-color: #F39C12; /* Теплый желтый для иконки кнопки */
}

p {
    font-size: 1.3rem;
}
