{% extends 'core_app/base.html' %}

{% load static %}

{% block content %}
    <h2 class="mb-3 py-5">{{ bot.name }}</h2>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li class="alert alert-success">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div id="status"></div>

    <div class="bot-information">
        <h3>Информация о боте</h3>
        <hr>

        <p>Статус: <span id="is-running-status">{{ bot_status.is_running }}</span></p>
        <p>Дата обновления статуса: <span id="bot-status-update-at">{{ bot_status.updated_at }}</span></p>
    </div>

    <button id="start-bot-btn" class="btn btn-success" onclick="startBot()">Запустить</button>

    <!-- Индикатор загрузки. -->
    <div id="loading-indicator" style="display: none; text-align: center;">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
            <span class="sr-only"></span>
        </div>
        <p>Запускается...</p>
    </div>

    <script>
        var botId = {{ bot.id }};
    </script>

    <script src="{% static 'telegram_app/js/start_bot.js' %}" type="text/javascript"></script>
    
{% endblock %}
